[submodule "ImguiDocking"]
	path = NightOwlEngine/vendor/ImguiDocking
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "GLFWLatest"]
	path = NightOwlEngine/vendor/GLFWLatest
	url = https://github.com/glfw/glfw.git
	branch = latest
